# This is a sample Jupyter Notebook

Below is an example of a code cell. 
Put your cursor into the cell and press Shift+Enter to execute it and select the next one, or click 'Run Cell' button.

Press Double Shift to search everywhere for classes, files, tool windows, actions, and settings.

To learn more about Jupyter Notebooks in PyCharm, see [help](https://www.jetbrains.com/help/pycharm/ipython-notebook-support.html).
For an overview of PyCharm, go to Help -> Learn IDE features or refer to [our documentation](https://www.jetbrains.com/help/pycharm/getting-started.html).

In [1]:
print("Hello World!")

Hello World!

In [1]:
import pandas as pd

In [6]:
import pandas as pd

file_path = r"C:\Users\Godlove\Desktop\SMH.csv\MentalHealthSurvey.csv"
df = pd.read_csv(file_path)

print(df.head())

   gender  age university   degree_level      degree_major academic_year  \
0    Male   20         PU  Undergraduate      Data Science      2nd year
1    Male   20        UET   Postgraduate  Computer Science      3rd year
2    Male   20       FAST  Undergraduate  Computer Science      3rd year
3    Male   20        UET  Undergraduate  Computer Science      3rd year
4  Female   20        UET  Undergraduate  Computer Science      3rd year

      cgpa residential_status campus_discrimination sports_engagement  ...  \
0  3.0-3.5         Off-Campus                    No         No Sports  ...
1  3.0-3.5         Off-Campus                    No         1-3 times  ...
2  2.5-3.0         Off-Campus                    No         1-3 times  ...
3  2.5-3.0          On-Campus                    No         No Sports  ...
4  3.0-3.5         Off-Campus                   Yes         No Sports  ...

  study_satisfaction  academic_workload   academic_pressure  \
0                  5                   4                  5
1                  5                   4                  4
2                  5                   5                  5
3                  3                   5                  4
4                  3                   5                  5

   financial_concerns  social_relationships  depression  anxiety  isolation  \
0                   4                     3           2        1          1
1                   1                     3           3        3          3
2                   3                     4           2        3          3
3                   4                     1           5        5          5
4                   2                     3           5        5          4

   future_insecurity                           stress_relief_activities
0                  2  Religious Activities, Social Connections, Onli...
1                  4                               Online Entertainment
2                  1  Religious Activities, Sports and Fitness, Onli...
3                  3                               Online Entertainment
4                  4                               Online Entertainment

[5 rows x 21 columns]

In [7]:
df.describe()

,age,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity
count,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000,87.000000
mean,19.942529,3.931034,3.885057,3.781609,3.390805,2.781609,3.218391,3.218391,3.241379,3.011494
std,1.623636,1.043174,0.854880,1.125035,1.400634,1.175578,1.367609,1.297809,1.405682,1.385089
min,17.000000,1.000000,2.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,19.000000,3.000000,3.000000,3.000000,2.500000,2.000000,2.000000,2.000000,2.000000,2.000000
50%,20.000000,4.000000,4.000000,4.000000,3.000000,3.000000,3.000000,3.000000,3.000000,3.000000
75%,21.000000,5.000000,4.500000,5.000000,5.000000,4.000000,4.000000,4.000000,4.500000,4.000000
max,26.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 21 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    87 non-null     object
 1   age                       87 non-null     int64
 2   university                87 non-null     object
 3   degree_level              87 non-null     object
 4   degree_major              87 non-null     object
 5   academic_year             87 non-null     object
 6   cgpa                      87 non-null     object
 7   residential_status        87 non-null     object
 8   campus_discrimination     87 non-null     object
 9   sports_engagement         87 non-null     object
 10  average_sleep             87 non-null     object
 11  study_satisfaction        87 non-null     int64
 12  academic_workload         87 non-null     int64
 13  academic_pressure         87 non-null     int64
 14  financial_concerns        87 non-null     int64
 15  social_relationships      87 non-null     int64
 16  depression                87 non-null     int64
 17  anxiety                   87 non-null     int64
 18  isolation                 87 non-null     int64
 19  future_insecurity         87 non-null     int64
 20  stress_relief_activities  87 non-null     object
dtypes: int64(10), object(11)
memory usage: 14.4+ KB

In [9]:
df.isnull()

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
83,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
84,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
85,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
86,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
df.head(5)

,gender,age,university,degree_level,degree_major,academic_year,cgpa,residential_status,campus_discrimination,sports_engagement,...,study_satisfaction,academic_workload,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,Male,20,PU,Undergraduate,Data Science,2nd year,3.0-3.5,Off-Campus,No,No Sports,...,5,4,5,4,3,2,1,1,2,"Religious Activities, Social Connections, Onli..."
1,Male,20,UET,Postgraduate,Computer Science,3rd year,3.0-3.5,Off-Campus,No,1-3 times,...,5,4,4,1,3,3,3,3,4,Online Entertainment
2,Male,20,FAST,Undergraduate,Computer Science,3rd year,2.5-3.0,Off-Campus,No,1-3 times,...,5,5,5,3,4,2,3,3,1,"Religious Activities, Sports and Fitness, Onli..."
3,Male,20,UET,Undergraduate,Computer Science,3rd year,2.5-3.0,On-Campus,No,No Sports,...,3,5,4,4,1,5,5,5,3,Online Entertainment
4,Female,20,UET,Undergraduate,Computer Science,3rd year,3.0-3.5,Off-Campus,Yes,No Sports,...,3,5,5,2,3,5,5,4,4,Online Entertainment

In [11]:
df.isnull().sum()

gender                      0
age                         0
university                  0
degree_level                0
degree_major                0
academic_year               0
cgpa                        0
residential_status          0
campus_discrimination       0
sports_engagement           0
average_sleep               0
study_satisfaction          0
academic_workload           0
academic_pressure           0
financial_concerns          0
social_relationships        0
depression                  0
anxiety                     0
isolation                   0
future_insecurity           0
stress_relief_activities    0
dtype: int64

In [12]:
list(df.columns)

['gender',
 'age',
 'university',
 'degree_level',
 'degree_major',
 'academic_year',
 'cgpa',
 'residential_status',
 'campus_discrimination',
 'sports_engagement',
 'average_sleep',
 'study_satisfaction',
 'academic_workload ',
 'academic_pressure',
 'financial_concerns',
 'social_relationships',
 'depression',
 'anxiety',
 'isolation',
 'future_insecurity',
 'stress_relief_activities']

In [17]:
# cols_to_keep = ['age','gender','anxiety','depression','isolation']
# cleaned_df = df[cols_to_keep]
# cleaned_df.columns = ['age','gender','anxiety','depression','isolation']

columns_to_keep = [
    'gender', 'age', 'academic_year', 'residential_status', 'campus_discrimination',
    'sports_engagement', 'average_sleep', 'study_satisfaction',
    'academic_pressure', 'financial_concerns', 'social_relationships', 'depression',
    'anxiety', 'isolation', 'future_insecurity', 'stress_relief_activities'
]
df_cleaned = df[columns_to_keep]
df_cleaned.head()

,gender,age,academic_year,residential_status,campus_discrimination,sports_engagement,average_sleep,study_satisfaction,academic_pressure,financial_concerns,social_relationships,depression,anxiety,isolation,future_insecurity,stress_relief_activities
0,Male,20,2nd year,Off-Campus,No,No Sports,4-6 hrs,5,5,4,3,2,1,1,2,"Religious Activities, Social Connections, Onli..."
1,Male,20,3rd year,Off-Campus,No,1-3 times,4-6 hrs,5,4,1,3,3,3,3,4,Online Entertainment
2,Male,20,3rd year,Off-Campus,No,1-3 times,2-4 hrs,5,5,3,4,2,3,3,1,"Religious Activities, Sports and Fitness, Onli..."
3,Male,20,3rd year,On-Campus,No,No Sports,4-6 hrs,3,4,4,1,5,5,5,3,Online Entertainment
4,Female,20,3rd year,Off-Campus,Yes,No Sports,4-6 hrs,3,5,2,3,5,5,4,4,Online Entertainment

In [18]:
df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 16 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   gender                    87 non-null     object
 1   age                       87 non-null     int64
 2   academic_year             87 non-null     object
 3   residential_status        87 non-null     object
 4   campus_discrimination     87 non-null     object
 5   sports_engagement         87 non-null     object
 6   average_sleep             87 non-null     object
 7   study_satisfaction        87 non-null     int64
 8   academic_pressure         87 non-null     int64
 9   financial_concerns        87 non-null     int64
 10  social_relationships      87 non-null     int64
 11  depression                87 non-null     int64
 12  anxiety                   87 non-null     int64
 13  isolation                 87 non-null     int64
 14  future_insecurity         87 non-null     int64
 15  stress_relief_activities  87 non-null     object
dtypes: int64(9), object(7)
memory usage: 11.0+ KB

In [21]:
cols_to_keep = ['age','gender','anxiety','depression','academic_year']
basic_columns = df[cols_to_keep]
basic_columns.columns = ['age','gender','anxiety','depression','academic_year']
basic_columns.to_csv('health_survey.csv', index=False)

# basic_columns.head(10)

In [23]:
health_survey = pd.read_csv('health_survey.csv')
health_survey.head()

   age  gender  anxiety  depression academic_year
0   20    Male        1           2      2nd year
1   20    Male        3           3      3rd year
2   20    Male        3           2      3rd year
3   20    Male        5           5      3rd year
4   20  Female        5           5      3rd year

In [24]:
list (basic_columns.columns)

['age', 'gender', 'anxiety', 'depression', 'academic_year']

In [26]:
list (df_cleaned.columns)

['gender',
 'age',
 'academic_year',
 'residential_status',
 'campus_discrimination',
 'sports_engagement',
 'average_sleep',
 'study_satisfaction',
 'academic_pressure',
 'financial_concerns',
 'social_relationships',
 'depression',
 'anxiety',
 'isolation',
 'future_insecurity',
 'stress_relief_activities']

In [35]:
class PatientSurvey:
    def __init__(self,age,gender,anxiety,depression,academic_year):
        self.age = int (age)
        self.gender = gender
        self.anxiety = int (anxiety)
        self.depression = int (depression)
        self.academic_year = academic_year
    def show_summary(self):
        print (f"{self.gender}, {self.age}, |Anxiety level : {self.anxiety}/5, | depression level : {self.depression}/5,|self.academic_year : {self.academic_year}")

In [36]:

sample = PatientSurvey(age=19, gender="Female", anxiety=4, depression=3, academic_year="Year 2")

sample.show_summary()

Female, 19, |Anxiety level : 4/5, | depression level : 3/5,|self.academic_year : Year 2